h1{
	font-family: Georgia, "Times New Roman", serif;
	font-size:22px;
	font-weight:bold;
	font-style:italic;
	color:#009900;
}

h2{
	background-color: black;
	color: white;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}